<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script src="https://cdn.neo4jlabs.com/neovis.js/v1.2.1/neovis.js"></script>
    <script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script> -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <!-- 進入頁面時 觸發draw()函數 -->
  <body onload="draw()">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input class="input-xlarge" id="input_text1" name="textbox" />
    <button id="button1" type="submit">輸入</button>
    <div id="viz"></div>
    <p id="test">test</p>
  </body>
</html>

<script>
  $("#button1").click(function() {
    var result1 = $("#input_text1").val();
    console.log("輸入值: ", result1);
    /**/
    axios
      .post(`/pass_test`, { front_param: result1 })
      .then(function(res) {
        console.log("後端傳回給前端的參數: ", res.data.back_param);
        document.getElementById("test").innerText = res.data.back_param; //更新<p>內容
      })
      .catch(function(err) {
        console.log(err);
      });
  });
</script>







<!doctype html>
<html>
<head>
<title>Neovis.js Simple Example</title>
<style type="text/css">
html, body {
font: 16pt arial;
}

#viz {
width: 900px;
height: 700px;
border: 1px solid lightgray;
font: 22pt arial;
}
</style>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body onload="draw()">
<div id="viz"></div>

Cypher query: <textarea rows="1" cols=50 id="cypher"></textarea><br>
<input type="submit" value="Submit" id="reload">
<input type="submit" value="Stabilize" id="stabilize">
</body>
<script>
$("#reload").click(function() {
var cypher = $("#cypher").val();
if (cypher.length > 3) {
viz.renderWithCypher(cypher);
} else {
console.log("reload");
viz.reload();
}
});
$("#stabilize").click(function() {
viz.stabilize();
})
</script>
</html>

<script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>


<script type="text/javascript">

var viz;

function draw() {
var config = {
container_id: "viz",
server_url: "bolt://52.54.130.90:7687",
server_user: "neo4j",
server_password: "admin",
labels: {
"Movie": {
"caption": "title",
// "size": "pagerank",
// "community": "community"
},
"Person": {
"caption": "name",
// "size": "pagerank",
// "community": "community"
},
"test2": {
"caption": "name",
// "size": "pagerank",
// "community": "community"
}
},
relationships: {
"INTERACTS": {
// "thickness": "weight",
"caption": false
}
},
initial_cypher: "MATCH (n:test2{name:'tsai_ingwen'})-[r*{POSTURL:'https://www.instagram.com/p/B3epO95A2YM/'}]-(m) RETURN * "
};

viz = new NeoVis.default(config);
viz.render();
}
</script>